<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<!-- Bootstrap Compatibility fields -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<Title>MAZI Home</Title>

<!-- Bootstrap core CSS -->
<link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Production JQuerey -->
<script src="./js/jquery-2.2.1.min.js"></script>

<script src="./js/splash.js"></script>

<link href="./splash.css" rel="stylesheet">
</head>

<body>
	<div class="container center" id="divMainContainer">
		<h2 id="txtHostname"></h2>
		<h3>Welcome!</h3>
		<div class="panel bordered">

			<div class="panel-heading">
				<b>Available Applications</b>
			</div>
			<div class="panel-body" id="divApplist">