.divPadding {
	padding: 25px;
}

.smallPadding
{
	 padding: 10px;
	 margin: 10px;
}

.centertext {
	text-align: center;
}

.greyback {
	background-color: #F1F1F1;
}

.pinkback {
	background-color: #E2EFF0;
}

.bordered {
	border: 2px solid black;
}


.left {
	text-align:left;
}

.center {
	text-align:center;
}

.valign {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.redbox
{
	text-align:center;
	background-color: #E99C9E;
	margin-bottom:5px;
}